[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0"
celery = "==4.2.1"
gunicorn = "==20.0.3"
django-cron = "==0.5.1"
django-celery-results = "==1.0.4"
psycopg2 = "==2.7.3.2"
vine = "==1.1.4"
kombu= "==4.2.0"
billiard= "==3.5.0.5"
amqp= "==2.3.2"
python-memcached = "==1.59"

[dev-packages]

[requires]
python_version = "3.6"
